#about.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#about", "data-toggle" => "collapse", :href => "#about_one"}
        About the Site
    #about_one.accordion-body.collapse
      .accordion-inner
        %p.about1_style1{style: "color: #600"} Welcome to Elite Fitness Edge - Learn about Running, Training, and Nutrition, while browsing Product Reviews and Training Gear!
        %p.about_11px Elite Fitness Edge offers advice and experience with running, training, and nutrition. Read a variety of articles that range from very beginner topics to advance ideology. Find reviews and training gear that may be of interest as well with a growing list of items to browse.
        .span3
          %p.about_11px Like our #{link_to 'Facebook page', 'http://www.facebook.com/elitefitnessedge'}
          %em{style:"padding-left: 25px"}= render 'layouts/facebook_like'
        .span3offset3
          %p.about_11px Follow Us on Twitter
          %em.about1_twitter=render 'layouts/twitter'
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#about", "data-toggle" => "collapse", :href => "#about_two"}
        What's on Elite Fitness Edge?
    #about_two.accordion-body.collapse.in
      .accordion-inner
        %p.about_bold Running
        %p.about_11px #{link_to 'Running', '/posts?category=running'} articles on Elite Fitness Edge range in topics from barefoot running to racing in a 5k race and are angled toward beginner and advanced runners. Running themes delve into burning fat, minimalist running, and training.
        %p.about_bold Training
        %p.about_11px Elite Fitness Edge will provide athletes, bodybuilders, and the average person looking to get into shape with #{link_to 'training', '/posts?category=training'} advice to help everyone reach their goals. These articles will include training tips and guidelines for all ranges of athletes including runners, bodybuilders, crossfitters, and more.
        %p.about_bold Nutrition
        %p.about_11px Whether you’re looking to lose weight, build muscle, or maintain a healthy lifestyle, Elite Fitness Edge will provide you with up to date nutritional guidelines and advice to help you achieve your goals. These articles will range from fat loss tips, healthy bulking habits, and much more advice on #{link_to 'Nutrition', '/posts?category=nutrition'}.
        %hr
        %p.about_bold Reviews
        %p.about_11px Elite Fitness Edge #{link_to 'Reviews', '/posts?category=reviews'} are written to give you a more comfortable idea about what you are looking into purchasing. Each product review is reviewed by someone who has used and tested the shoe or accessory, allowing them to develop a complete opinion on the product along with a detailed description. Reviews will range from all topics on EFE, including running, training, and nutrition products.
        %p.about_bold Training Gear
        %p.about_11px The #{link_to 'Training Gear', '/training_gears'} of Elite Fitness Edge is a unique area of the site that offers a growing collection of recommended and featured training gear with a purchase link and a short description of the product. The training gear on EFE can be sorted by category (Endurance, Training, and Nutrition) along with gender.
        / %hr
        / %p{style:"font-size: 11px; font-weight: bold"} The KRF Store
        / %p{style:"font-size: 11px"} The #{link_to 'Keep Running Free Store', '/store'} will offer athletic clothing and accessories with the Keep Running Free logo and name printed on. You will be able to browse through water bottles, t-shirts, hats, and more, and browse with the freedom of personal customization. Currently the KRF Store is not available until further notice.
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#about", "data-toggle" => "collapse", :href => "#about_three"}
        Who Writes for Elite Fitness Edge?
    #about_three.accordion-body.collapse.in
      .accordion-inner
        - @authors.each do |author|
          %h4.about_author= author.name
          #author_about
            = author.about