.row
  #carousel.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active
        - if fpost = Post.f_training.recent.first
          - if fpost.title_picture
            = link_to fpost do
              = image_tag fpost.title_picture.data(:front)
          - else
            = link_to fpost do
              = image_tag ("filler_front.jpg")
          .carousel-caption.carousel_caption.hidden-xs
            %h5=link_to fpost.title, fpost
          .carousel-caption.carousel_caption_small.visible-xs
            %h5=link_to fpost.title, fpost
      .item
        - if fpost = Post.f_nutrition.recent.first
          - if fpost.title_picture
            = link_to fpost do
              = image_tag fpost.title_picture.data(:front)
          - else
            = link_to fpost do
              = image_tag ("filler_front.jpg")
          .carousel-caption.carousel_caption.hidden-xs
            %h5=link_to fpost.title, fpost
          .carousel-caption.carousel_caption_small.visible-xs
            %h5=link_to fpost.title, fpost
      .item
        - if fpost = Post.f_review.recent.first
          - if fpost.title_picture
            = link_to fpost do
              = image_tag fpost.title_picture.data(:front)
          - else
            = link_to fpost do
              = image_tag ("filler_front.jpg")
          .carousel-caption.carousel_caption.hidden-xs
            %h5=link_to fpost.title, fpost
          .carousel-caption.carousel_caption_small.visible-xs
            %h5=link_to fpost.title, fpost
      .item
        = link_to (image_tag("carsel.jpg")), '/posts?category=reviews'
      .item
        = link_to (image_tag("carousel_sample.png")), '/'

    %a.left.carousel-control{"data-slide" => "prev", href: "#carousel"}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{"data-slide" => "next", href: "#carousel"}
      %span.glyphicon.glyphicon-chevron-right

.row.visible-lg{style: "margin-left: -15px;"}
  .col-md-4
    .cat_promo
      .cat_promo_title TRAINING
    %img= link_to (image_tag("front_training.png")), '/posts?category=training'
  .col-md-4{style: "position: relative; left: 6px;"}
    .cat_promo
      .cat_promo_title NUTRITION
    %img
      = link_to (image_tag("front_nutrition.png")), '/posts?category=nutrition'
  .col-md-4{style: "position: relative; left: 12px;"}
    .cat_promo
      .cat_promo_title REVIEWS
    %img
      = link_to (image_tag("front_review.png")), '/posts?category=reviews'
%br
%hr
.row
  .front_articles_break RECENT ARTICLES

.row.visible-lg{style: "margin-left: -15px; margin-top: 15px;"}
  - @posts_recent[0..0].each do |post|
    .col-md-5
      - @posts_recent[0..0].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front1.jpg")
    .col-md-7.post_list_text
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro
      .recent_button
        = link_to 'Read More', post, class: "btn btn-primary"
/ use this for tablet
.row.visible-md{style: "margin-left: -15px; margin-top: 15px;"}
  - @posts_recent[0..0].each do |post|
    .col-md-5
      - @posts_recent[0..0].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front1.jpg")
    .col-md-6.post_list_text{style: "position: relative; left: 90px;"}
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro

.row.visible-lg{style: "position: relative; right: 15px; margin-top: 50px;"}
  - @posts_recent[1..1].each do |post|
    .col-md-7
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro
    .col-md-5
      - @posts_recent[1..1].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front2.jpg")
    .recent_button{style: "padding-left: 15px;"}
      = link_to 'Read More', post, class: "btn btn-primary"
/ use for tablet
.row.visible-md{style: "position: relative; left: -15px; margin-top: 50px;"}
  - @posts_recent[1..1].each do |post|
    .col-md-6
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro
    .col-md-5
      - @posts_recent[1..1].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front2.jpg")

.row.visible-lg{style: "margin-left: -15px; margin-top: 50px;"}
  - @posts_recent[2..2].each do |post|
    .col-md-5
      - @posts_recent[2..2].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front3.jpg")
    .col-md-7.post_list_text
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro
      .recent_button
        = link_to 'Read More', post, class: "btn btn-primary"
/ use for tablet
.row.visible-md{style: "margin-left: -15px; margin-top: 50px;"}
  - @posts_recent[2..2].each do |post|
    .col-md-5
      - @posts_recent[2..2].each do |post|
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:flist)
        - else
          = link_to post do
            = image_tag ("front3.jpg")
    .col-md-6.post_list_text{style: "position: relative; left: 90px;"}
      %p.post_list_post_title
        =link_to post.title, post
      %p.post_list_post_author
        Written by
        = post.author.name
        |
        = post.category
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      .front_into{style: "font-size: 12px; font-weight: bold;"}=raw post.intro
.row.visible-xs
  - @posts_recent[0..2].each do |post|
    .small_front_list_title
      .cat_promo_title=link_to post.title, post
    .small_front_image
      - if post.title_picture
        = link_to post do
          = image_tag post.title_picture.data(:flist)
      - else
        = link_to post do
          = image_tag ("front3.jpg"), {style: "width: 100%"}
.row.visible-sm
  - @posts_recent[0..2].each do |post|
    .small_front_list_title
      .cat_promo_title=link_to post.title, post
    .small_front_image
      - if post.title_picture
        = link_to post do
          = image_tag post.title_picture.data(:flist)
      - else
        = link_to post do
          = image_tag ("front3.jpg"), {style: "width: 100%"}
%br
%br