/ #carousel2.visible-lg{style: "margin-bottom: 15px; width: 100%;"}
/   - image_file = @most_recent.title_picture ? @most_recent.title_picture.data(:feature) : "filler_feature.jpg"
/   = link_to image_tag(image_file), @most_recent
/   .container
/     .carousel_caption{style:"line-height: 18px; font-size: 11px; color: white;"}
/       %h4
/         = link_to @most_recent.title, @most_recent
/       %p#post_intro_c
/         = raw @most_recent.intro

#carousel.carousel.slide.hidden-xs{"data-ride" => "carousel", style: "margin-left: 15px; margin-right: 15px; margin-bottom: 15px;"}
  .carousel-inner
    .item.active
      - if post = @most_recent # Post.published.recent.first
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:front)
        - else
          = link_to post do
            = image_tag ("filler_front.jpg")
        .carousel-caption.carousel_caption.hidden-xs
          %h5=link_to post.title, post
        .carousel-caption.carousel_caption_small.visible-xs
          %h5=link_to post.title, post

#carousel.carousel.slide.visible-xs{"data-ride" => "carousel", style: "margin-left: 15px; margin-right: 15px; margin-bottom: 15px;"}
  .carousel-inner
    .item.active
      - if post = @most_recent # Post.published.recent.first
        - if post.title_picture
          = link_to post do
            = image_tag post.title_picture.data(:front)
        - else
          = link_to post do
            = image_tag ("filler_front.jpg")
        .carousel-caption.carousel_caption.hidden-xs
          %h5=link_to post.title, post
        .carousel-caption.carousel_caption_small.visible-xs
          %h5=link_to post.title, post