.post_list.span9
  .post_list_thumb_border.span2
    .post_list_thumb
      - if post.title_picture
        = link_to post do
          = image_tag post.title_picture.data(:list)
      - else
        = link_to post do
          = image_tag "filler_list.jpg"
  .post_list_text.span6
    %p.post_list_post_title
      =link_to post.title, post
    %p.post_list_post_author
      Written by
      = post.author.name
      | Published on
      = post.published_on.strftime("%B %d, %Y")
    %p.post_intro_one
      =raw post.intro
