%h3#post_list_section_title
  = @current_section.titleize
%br


/ %div#most_recent_section_post
/   =image_tag("main_filler_pic.jpg")
- @posts[0..0].each do |post|
  %div#most_recent_section_post.span9
    
- @posts[1..-1].each do |post|
  %div#post_list.span9
    %div#post_list_thumb_border.span2
      %div#post_list_thumb= image_tag("filler_thumb.jpg")
    %div#post_list_text.span6
      %p#post_list_post_title
        = post.title
      %p#post_list_post_author
        Written by
        = post.author.name
        | Published on
        = post.published_on.strftime("%B %d, %Y")
      %p#post_intro_one
        =raw post.intro
    / %ul
    /   %li= post.title
    /   %li= post.author.name
    / =raw post.intro
