#blog_navbar
  -#.navbar-inner
    .container
      %ul.nav
        %li= link_to 'Home', root_path
        %li= link_to 'Running', ''
        %li= link_to 'Reviews', ''
        %li= link_to 'Entertainment', ''
  .btn.btn-inverse= link_to 'Home', root_path
  .btn.btn-inverse= link_to 'Running', ''
  .btn.btn-inverse= link_to 'Reviews', ''
  .btn.btn-inverse= link_to 'Entertainment', ''
  