#site_footer
  .container
    .row{style:"text-align: center"}
      .span3
        %div#link_footer1
          = link_to (image_tag("about.png")), '/about'
          #link_footer_text.span3
            %center{style:"padding-top: 5px"}
            %h3#footer_linktext_title About Us
            %h6#footer_linktext_body Check out who we are
            %h6#footer_linktext_body and send us a note!
      #link_margin_footer.span3
        %div#link_footer2
          = link_to (image_tag("reviews.png")), '/posts?category=reviews'
          #link_footer_text.span3
            %center{style:"padding-top: 5px"}
            %h3#footer_linktext_title Reviews
            %h6#footer_linktext_body Read about running shoes
            %h6#footer_linktext_body watches, and more!
      #link_margin_footer.span3
        %div#link_footer3
          = link_to (image_tag("fb_footer.png")), 'http://www.facebook.com/keeprunningfree'
          #link_footer_text.span3
            %center{style:"padding-top: 5px"}
            %h3#footer_linktext_title Like Us
            %h6#footer_linktext_body Like our Facebook page
            %h6#footer_linktext_body for daily updates!
      #link_margin_footer.span3.last
        %div#link_footer4
          = link_to (image_tag("twitter_footer.png")), 'http://www.twitter.com/keeprunningfree'
          #link_footer_text.span3offest9
            %center{style:"padding-top: 5px"}
            %h3#footer_linktext_title Follow Us
            %h6#footer_linktext_body Stay up to date
            %h6#footer_linktext_body with twitter!
    #mailing_footer
      .row
        .span6{style:"margin-left: 70px"}
          %h4{style:"color: #ffffff; padding-top: 10px;"} Opt-in to our Mailing List (It's Free!)
        #mailchimp_footer.span4offset8
          %form.form-horizontal{action:"http://keeprunningfree.us4.list-manage.com/subscribe/post?u=ec7250299824e5388c21c7fdb&id=04a00d0f72", method:"post", target:"_blank"}
            %input#footer-mailchimp-input{type:"email", name:"EMAIL", placeholder:"Email..."}
            %button#footer-mailchimp-button.btn
              %i.icon-envelope

    #copyright.row{style:"color: #ffffff"}
      %br
      Copyright &copy; 2012 Keep Running Free
      %br
      -if current_user
        Logged in as #{current_user.email} #{link_to 'logout', session_path("current"), method: "delete"}