#site_footer
  .container
    .row.visible-lg.visible-md{style: "max-width: 1030px; margin-left: 10px;"}
      .col-lg-4.col-md-4.footer_links.footer_link_hover
        %h3{style: 'color: #fff; line-height: 13px;'} Meticufit
        %hr
        = link_to 'About', '/about'
        %br= link_to 'Subscribe', '/why_opt_in'
        = link_to 'Contact', '/supports/new'
        %br
        %br
        #copyright.logout_link.logout_link_hov
          %br
          Copyright &copy; 2014 Meticufit
          %br
          -if current_user
            Logged in as #{current_user.email} #{link_to 'logout', session_path("current"), method: "delete"}
      .col-lg-4.col-md-4.footer_links.footer_link_hover
        %h3{style: 'color: #fff; line-height: 13px;'} Articles
        %hr
        = link_to 'Training', '/posts?category=training'
        %br= link_to 'Running', '/posts?category=running'
        = link_to 'Nutrition', '/posts?category=nutrition'
        %br= link_to 'Product Reviews', '/posts?category=reviews'
      .col-lg-4.col-md-4.footer_social
        .col-xs-12.footer_social_lower
          / %a{:href => "/", style: 'float: right;'}
          /   = image_tag("nav_pinterest.png", :size => "25x25")
          %a{:href => "https://twitter.com/Meticufit", style: 'float: right; margin-right: 4px;'}
            = image_tag("nav_twitter.png", :size => "25x25")
          %a{:href => "https://www.facebook.com/meticufit", style: 'float: right; margin-right: 4px;'}
            = image_tag("nav_facebook.png", :size => "25x25")
        .col-xs-12
          %a{:href => "/", style: 'float: right; margin-top: 10px;'}
            = image_tag("foot_logo.png")

    .row.visible-xs{style: "margin-left: 10px;"}
      .col-xs-12
        %a{:href => "/", style: 'margin-top: 10px;'}
          = image_tag("foot_logo.png")
      .col-xs-12
        #copyright.logout_link.logout_link_hov
          %br
          Copyright &copy; 2014 Meticufit
          %br
          -if current_user
            Logged in as #{current_user.email} #{link_to 'logout', session_path("current"), method: "delete"}

    .row.visible-sm{style: "margin-left: 10px;"}
      .col-sm-6
        %br
          #copyright.logout_link.logout_link_hov
            Copyright &copy; 2014 Meticufit
            %br
            -if current_user
              Logged in as #{current_user.email} #{link_to 'logout', session_path("current"), method: "delete"}
      .col-sm-6
        %a{:href => "/", style: 'float: right; margin-top: 10px;'}
          = image_tag("foot_logo.png")