#site_footer.clearfix
  .row{style:"text-align: center"}
    #link_footer1.span3
      = image_tag("about.png")
      .row
        #link_footer_text.span3
          %center{style:"padding-top: 5px"}
          %h3{style:"color: #000000"} About Us
          %h6{style:"color: #202020"} Check out who we are
          %h6{style:"color: #202020"} and send us a note!
    #link_footer2.span3
      = image_tag("reviews.png")
      .row
        #link_footer_text.span3offest3
          %center{style:"padding-top: 5px"}
          %h3{style:"color: #000000"} Reviews
          %h6{style:"color: #202020"} Read about running shoes
          %h6{style:"color: #202020"} watches, and more!
    #link_footer3.span3
      = image_tag("fb_footer.png")
      .row
        #link_footer_text.span3offest6
          %center{style:"padding-top: 5px"}
          %h3{style:"color: #000000"} Like Us
          %h6{style:"color: #202020"} Like our Facebook page
          %h6{style:"color: #202020"} for daily updates!
    #link_footer4.span3.last
      = image_tag("twitter_footer.png")
      .row
        #link_footer_text.span3offest9
          %center{style:"padding-top: 5px"}
          %h3{style:"color: #000000"} Follow Us
          %h6{style:"color: #202020"} Stay up to date
          %h6{style:"color: #202020"} with twitter!
  #mailing_footer.row 
    .row
      .span6{style:"margin-left: 70px"}
        %h4{style:"color: #ffffff; padding-top: 10px;"} Opt-in to our Mailing List (It's Free!)
      #mailchimp_footer.span5offset7

  #copyright.row{style:"color: #ffffff"}
    %br
    Copyright &copy; 2012 Keep Running Free
    %br
    -if current_user
      Logged in as #{current_user.email} #{link_to 'logout', session_path("current"), method: "delete"}