#side_bar
  .hidden-lg{style: "margin-top: 15px;"}
  .side_feature_ad{style: "padding-top: 0px;"}
    .side_feature_top
      .side_feature_title
        Featured Training Article
    - if fpost = Post.f_training.recent.first
      - if fpost.title_picture
        = link_to fpost do
          = image_tag fpost.title_picture.data(:sfeature), {style: "width: 100%;"}
      - else
        = link_to fpost do
          = image_tag ("filler_feature.jpg"), {style: "width: 100%;"}
  .side_feature_ad
    .side_feature_top
      .side_feature_title
        Featured Nutrition Article
    - if fpost = Post.f_nutrition.recent.first
      - if fpost.title_picture
        = link_to fpost do
          = image_tag fpost.title_picture.data(:sfeature), {style: "width: 100%;"}
      - else
        = link_to fpost do
          = image_tag ("filler_feature.jpg"), {style: "width: 100%;"}
  .side_feature_ad
    .side_feature_top
      .side_feature_title
        Featured Product Review
    - if fpost = Post.f_review.recent.first
      - if fpost.title_picture
        = link_to fpost do
          = image_tag fpost.title_picture.data(:sfeature), {style: "width: 100%;"}
      - else
        = link_to fpost do
          = image_tag ("filler_feature.jpg"), {style: "width: 100%;"}

  %h3{style: "text-align: center; color: #f0f0f0; position: relative; top: 10px;"} Sponsored Links
  %hr{style: "border-top: 1px solid #f0f0f0; margin-top: 10px; margin-bottom: 10px; margin-left: 10px;"}

  .side_feature_ad.visible-lg
    = render '/layouts/ad_300x250'
  .side_feature_ad.visible-lg
    = render '/layouts/ad_300x250_2'
  .side_small_ad.hidden-lg
    = render '/layouts/ad_180x150'
  .side_small_ad.hidden-lg
    = render '/layouts/ad_180x150'
  .side_small_ad.hidden-lg
    = render '/layouts/ad_180x150'