#site_navbar
  .navbar
    .navbar-inner
      .container
        %a.brand{:href => "/"}
          = image_tag("header_logo2.png", size:"226x39")
        %ul.nav
          %li#nav_button{class: @current_section=='home' && 'active'}= link_to 'Home', '/'
          %li#nav_button{class: @current_section=='running' && 'active'}= link_to 'Running', '/posts?category=running'
          %li#nav_button{class: @current_section=='running101' && 'active'}= link_to 'Running 101', '/posts/9'
          %li#nav_button{class: @current_section=='runninggear' && 'active'}= link_to 'Running Gear', '/posts?category=runninggear'
          / %li#nav_button{class: @current_section=='nutrition' && 'active'}= link_to 'Nutrition', '/posts?category=nutrition'
          %li#nav_button{class: @current_section=='reviews' && 'active'}= link_to 'Reviews', '/posts?category=reviews'
          %li#nav_button{class: @current_section=='entertainment' && 'active'}= link_to 'Entertainment', '/entertainment'
        / .input-append.pull-right{style:"padding-top: 8px"}
        /   %input.span2{:placeholder => "Search..."}
        /   %button.btn.add-on
        /     %i.icon-search
        %ul.nav.pull-right
          %li#nav_button{class: @current_section=='about' && 'active'}= link_to 'Who Are We?', '/about'
          / %li#nav_button{class: @current_section=='krf store' && 'active'}= link_to 'KRF Store', '/store'