%nav#site_navbar.navbar.hidden-xs{role: "navigation"}
  / Use 'Toggle' and 'Brand' for better mobile
  .container
    / %div.navbar#nav_social.navbar-right{style: "margin-right: -83px;"}
    /   %div{style: "border-right: 1px #ccc solid; width: 120px; height: 30px;"}
    /     %a{:href => "https://www.facebook.com/meticufit"}
    /       = image_tag("nav_facebook.png", :size => "30x30")
    /     %a{:href => "https://twitter.com/Meticufit"}
    /       = image_tag("nav_twitter.png", :size => "30x30")
    /   / %a{:href => "/"}
    /   /   = image_tag("nav_pinterest.png", :size => "30x30")
    /   %form#nav_sub.form-inline{role: "form", action:"http://eepurl.com/WzhLn", method:"post", target:"_blank"}
    /     .form-group
    /       %label.sr-only Email address
    /       %input.form-control{placeholder: "Subscribe - Email", type: "email"}
    /     %button.btn.btn-default.btn-md{type: "button", type: "submit"}
    /       %span.glyphicon.glyphicon-envelope
    %div.navbar-header
      %a.navbar-brand{:href => "/", style: "margin-left: 0px;"}
        = image_tag("Logo6.png")
      / #slogan{style: "position: absolute; z-index: 2; font-weight: bold; color: #000; opacity: 1.0;"}
      /   "Fitness, Training, Nutrition - Simplified"

    %div.navbar-right.button_place
      %ul.nav.navbar-nav
        %li#nav_button{class: @current_section=='home' && 'active'}= link_to 'Home', '/'
        / %li.dropdown
        /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        /     Fitness
        /     %b.caret
        /   %ul.dropdown-menu
        /     %li{class: @current_section=='running' && 'active'}= link_to 'Running', '/posts?category=running'
        /     %li{class: @current_section=='training' && 'active'}= link_to 'Training', '/posts?category=training'
        %li#nav_button{class: @current_section=='training' && 'active'}= link_to 'Training', '/posts?category=training'
        %li#nav_button{class: @current_section=='nutrition' && 'active'}= link_to 'Nutrition', '/posts?category=nutrition'
        %li#nav_button{class: @current_section=='reviews' && 'active'}= link_to 'Reviews', '/posts?category=reviews'
        %li#nav_button{class: @current_section=='about' && 'active', style: "border-right: 0px;"}= link_to 'About', '/about'
    / /.navbar-collapse

%nav.navbar.navbar-default.visible-xs{role: "navigation", style: "margin-bottom: -30px; background-color: #eee;"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav_collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand2{:href => "/"}= image_tag("Logo6.png")
    / Collect the nav links, forms, and other content for toggling
    #nav_collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li#nav_button2{class: @current_section=='home' && 'active'}= link_to 'Home', '/'
        %li#nav_button2{class: @current_section=='training' && 'active'}= link_to 'Training', '/posts?category=training'
        %li#nav_button2{class: @current_section=='nutrition' && 'active'}= link_to 'Nutrition', '/posts?category=nutrition'
        %li#nav_button2{class: @current_section=='reviews' && 'active'}= link_to 'Reviews', '/posts?category=reviews'
        %li#nav_button2{class: @current_section=='about' && 'active', style: "border-bottom: 10px #eee solid;"}= link_to 'About', '/about'
        %li#nav_button2
          %form.form-inline{role: "form", action:"http://eepurl.com/WzhLn", method:"post", target:"_blank"}
            .form-group
              %label.sr-only Email address
              %input.form-control{placeholder: "Subscribe - Email", type: "email"}
    / /.navbar-collapse
  / /.container-fluid