!!!
%html
  %head
    %title= "Keep Running Free | #{yield :title}"
    /[if lt IE 9]
      %script{"src" => "http://html5shim.googlecode.com/svn/trunk/html5.js", "type" => "text/javascript"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    = csrf_meta_tag
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %script
      = yield :javascripts
      $(function() {
      = yield :javascript_ready
      });
    
    = yield(:head)
  %body{ :id => yield(:body_id)}
    %div
      #container.container-fluid
        .row-fluid{style:"margin-left: 0"}
          #site_navbar
            .navbar
              .navbar-inner
                .container
                  %a.brand{:href => "/"}
                    = image_tag("header_logo_black.png", size:"226x39")
        =# render 'layouts/site_navbar'
        / = render 'layouts/blog_navbar'
    .container
      #content.row{style:"margin-left: 0"}
        = render 'layouts/flash', flash: flash
        - if show_title?
          %h1= yield(:title)
        .span9= content_for?(:content) ? yield(:content) : yield
        .span3.offset9{style:"margin-left: 40px"}
          =# render 'layouts/side_bar'
      -#.row{style:"margin-left: 0"}
      -#  = render 'layouts/footer'
    =render 'layouts/footer'